binds {
    Super+Return { spawn "alacritty"; }
    Super+Q { close-window; }
    Super+E { spawn "alacritty" "-e" "yazi"; }
    Super+L { spawn "swaylock" "-i" "/home/claude/Pictures/login-screen.jpg"; }
    Alt+Ctrl+Right { focus-column-right; }
    Alt+Ctrl+Left { focus-column-left; }
    Alt+Ctrl+Up { focus-window-or-workspace-up; }
    Alt+Ctrl+Down { focus-window-or-workspace-down; }
}