input {
    touchpad {
        tap
        disable-while-typing true
    }
}

hotkey-overlay {
    skip-at-startup
}

binds {
    Super+Return { spawn "alacritty"; }
    Super+Q { close-window; }
    Super+E { spawn "yazi"; }
    // Super+D { spawn "dank-material-shell --overview"; }
    Mod+Shift+R { reload-config; }
    Super+L { spawn "swaylock"; }
    Alt+Ctrl+Right { focus-column-right; }
    Alt+Ctrl+Left { focus-column-left; }
    Alt+Ctrl+Up { focus-window-or-workspace-up; }
    Alt+Ctrl+Down { focus-window-or-workspace-down; }
}

window-rule {
    // match is-active=true
    // match is-focused=false
    // match is-active-in-column=true
    // match is-floating=true
    // match is-window-cast-target=true
    // match is-urgent=true
    // match at-startup=true

    // Properties that apply once upon window opening.
    default-column-width { proportion 0.75; }
    default-window-height { fixed 800; }
    open-maximized false
    // open-maximized-to-edges true
    // open-fullscreen trueen-maximized-to-edges true
    // open-floating true
    open-focused true

    // Properties that apply continuously.
    draw-border-with-background false
    opacity 0.9
    block-out-from "screencast"
    // block-out-from "screen-capture"
    variable-refresh-rate true
    default-column-display "tabbed"
    // default-floating-position x=100 y=200 relative-to="bottom-left"
    scroll-factor 0.75

    focus-ring {
        // off
        on
        width 2
    }

    border {
        // Same as focus-ring.
    }

    shadow {
        // on
        off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
    }

    tab-indicator {
        
        // active-color "red"
        // inactive-color "gray"
        // urgent-color "blue"
    }

    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
}

// include DMS keybinds
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"