include "configs/input.kdl"
include "configs/output.kdl"
include "configs/binds.kdl"
include "configs/window-rules.kdl"

// include DMS keybinds
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"

// autostart
spawn-at-startup "kanshi"
spawn-at-startup "dms"
